streamlit
streamlit_javascript
pandas
openai
tiktoken
httpx
revChatGPT
requests
pycryptodomex
pycryptodome
sqlalchemy < 2
pymysql
langchain
langchain[docarray]
pypdf
sentence_transformers
duckduckgo-search